<!-- Modal -->
<div class="modal fade" id="addModal" role="dialog" style="overflow-y: auto;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add a New Workout</h4>
            </div>

            <!-- FIRST PART OF ADD MODAL -->
            <div class="modal-body" id="addModalBody1">
                <div class="form-group row">
                    <div class="col-xs-4">
                        <label for="exercise">Exercise</label>
                        <input class="form-control" id="exercise" type="text" placeholder="Enter Exercise" required>
                    </div>
                    <div class="col-xs-4">
                        <label for="sets">Sets</label>
                        <input class="form-control" id="sets" type="number" placeholder="Enter # of Sets" required>
                    </div>
                    <div class="col-xs-4">
                        <label for="date">Date</label>
                        <input class="form-control" id="date" type="text" placeholder="Pick Date" required>
                    </div>
                </div>
                <p id="logModal" style="color:red;"></p>
                <button type="button" class="btn btn-primary" id="nextBtn">Next</button>
            </div>

            <!-- SECOND PART OF ADD MODAL -->
            <div class="modal-body" id="addModalBody2" >
                <button type="button" class="btn btn-primary" id="backBtn">Back</button>
                <button type="button" class="btn btn-primary" id="setBtn">Set All Sets to Set 1</button>
                <div id="body2"></div>
                <button type="button" class="btn btn-primary" id="confirmBtn">Confirm</button>;
                <p id="logModal2" style="color:red;"></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#date").datepicker();
    $("#date").datepicker('setDate', new Date());

    $("#addModalBody2").hide();

    $('#addBtn').on('click',function () {
        $("#addModal").modal('show');
    });


    $("#nextBtn").on('click',function () {

        var sets = $("#sets").val();
        var exercise = $("#exercise").val();

        if(exercise === "" || sets === "") {
            $("#logModal").html("Please fill in all values");
            return;
        }

        if(sets < 1) {
            $("#logModal").html("Sets must be at least 1");
            return;
        }

        $("#addModalBody1").hide();
        $("#addModalBody2").show();

        createAddModalBody2(sets);
    });

    $("#setBtn").on('click',function () {
        var sets = $("#sets").val();
        var reps = $("#reps1").val();
        var weight = $("#weight1").val();
        fillAllSets(sets,reps,weight);
    });

    $("#backBtn").on('click', function () {
        clearAddModalBody2();
    });

    $("#confirmBtn").on("click", function(){
        if(checkAddModalBody2IsFilled() === -1)
            return;

        var workout = getWorkout();
        var data = {workout:workout, date:$("#date").val()};
        console.log("Submitting = \n" + JSON.stringify(data));
        $.ajax({
            type: "post",
            url: "/add/",
            data: JSON.stringify(data),
            success: function(response) {
                $("#addModal").modal('hide');
                addWorkoutEvent(response.date, response.numberOfWorkouts);

            },
            error: function() {
                $("#logModal2").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
            }
        });

    });

    $('#addModal').on('hidden.bs.modal', function() {
        clearAddModalBody1();
        clearAddModalBody2();
    });

</script>