{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <title>{{#block "title"}}Welcome to FitBuddy!{{/block}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="/js/thinbus-srp6a-sha256-versioned.js"></script>


</head>
<body>
    <h1 id="mainTitle">FitBuddy</h1>
{{/block}}

{{#block "content"}}{{/block}}

{{#block "footer"}}
    </body>
    </html>
{{/block}}

