{{#block "header"}}
<!doctype html>
<html lang="en">
<head>
    <title>{{#block "title"}}Welcome to FitBuddy!{{/block}}</title>
    <link rel="stylesheet" href="/css/main.css">

    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>

    <link rel='stylesheet' type='text/css' href='https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css'/>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="/js/thinbus-srp6a-sha256-versioned.js"></script>
    <script src="/js/util.js"></script>

    <link rel='stylesheet' href='fullcalendar/fullcalendar.css' />
    <script src='lib/moment.min.js'></script>
    <script src='fullcalendar/fullcalendar.js'></script>


</head>
{{/block}}


{{#block "content"}}{{/block}}

{{#block "footer"}}

    </html>
{{/block}}

