{{#partial "title"}} friends {{/partial}}


{{#partial "content"}}
    <body>
    {{> navbar.hbs}}
    </body>
    <div id="AddFriends">
        <form class="form-inline">
            <div class="form-group mx-sm-3">
                <label for="UsernameFriend" class="sr-only">Username</label>
                <input type="text" class="form-control" id="UsernameFriend" placeholder="Username">
            </div>
            <button type="submit" class="btn btn-primary" id="addFriendBtn">Add</button>
        </form>
    </div>

    <div id="AllFriends">
        <h4> ALL CURRENT FRIENDS </h4>
        You have 0 friends
    </div>

    <div id="PendingFriends">
        <h4> ALL PENDING FRIENDS</h4>
        No Pending friends
    </div>

{{/partial}}

{{> base.hbs}}

<script type="text/javascript">
    $("#friends_li").addClass("active");
</script>