<div class="modal fade bd-example-modal-lg" id="graphModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Graph</h4>
            </div>
            <div class="modal-body">
                <div class="form-group row" id="exerciseToGraphForm">
                    <div class="col-xs-4">
                        <label for="exerciseToGraph">Exercise To Graph</label>
                        <input class="form-control" id="exerciseToGraph" type="text" placeholder="Enter Exercise" required>
                    </div>
                    <div class="col-xs-4">
                        <label for="numberOfWorkouts">Graph # previous workouts</label>
                        <input class="form-control" id="numberOfWorkouts" type="number" placeholder="previous #" required>
                    </div>
                    <button type="button" class="btn btn-primary" id="graphBtn">Graph</button>
                </div>
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>