{{#partial "content"}}
    <div>
        <form action="/" method="post">
            <input type="text" placeholder="Email" name="email">
            <input type="password" placeholder="password" name="password">
            <button>Log in</button>
        </form>

        <a href="/register"> Sign Up </a>
    </div>


{{/partial}}

{{> base.hbs}}