{{#partial "content"}}

    <body background="/pictures/main-title-pic.jpeg">

    <div class="mainTitleDiv">
        <h1 id="mainTitle">FitBuddy</h1>
    </div>

    <div id="loginDiv">
        <form action="/" id="loginForm">
            <div class ="row">
                <p class="loginP">Username:</p>
                <input type="text" placeholder="Username" name="username" id="username" required>
            </div>
            <div class ="row">
                <p class="loginP">Password:</p>
                <input type="password" placeholder="password" name="password" id="password" required>
            </div>
            <div class ="row">
                <input type="submit" name="loginBt" id="loginBt" value="Sign In" class="indexButton" />
            </div>
            <p id="log" style="color:red;"></p>
            <a href="/register"> Sign Up </a>
        </form>
    </div>

    </body>
    <script type="text/javascript">
        $("document").ready(function() {

            $("#loginForm").on("submit", function (event) {

                event.preventDefault();
                var username = $("#username").val();
                var password = $("#password").val();

                username = $.trim(username);

                $.ajax ({
                    type: "post",
                    url: "/",
                    data: {"username":username},
                    success: function(response) {
                        var srpClient = new SRP6JavascriptClientSessionSHA256();
                        srpClient.step1(username, password);
                        var credentials = srpClient.step2(response.salt, response.B);
                        var M1 = credentials.M1;
                        var A = credentials.A;
                        $.ajax({
                            type:"POST",
                            url: "/auth",
                            data: {"username":username, "M1":M1, "A":A},
                            success:function(res2) {
                                console.log("resp2 location = " + res2.target);
                                if(res2.target) {
                                    window.location.href = res2.target;
                                }
                            },
                            error: function(error2) {
                                $("#log").html("<strong>Invalid Login Credentials </strong>");
                            }
                        });
                    },
                    error: function (error) {
                        $("#log").html("<strong>Invalid Login Credentials </strong>");

                    }
                });
            });
        });
    </script>


{{/partial}}

{{> base.hbs}}