{{#partial "content"}}
    <body style="background-color: black;">
    <div id="mainTitleDiv" >
        <img id="logo" src="pictures/fitbuddy-logo.png" alt="fitbuddy logo">
        <p style="color: white; position:absolute; top: 10%; left: 50%; "> Tracking your lifts, made it easy!</p>
    </div>

    <div id="mainPictureDiv" background="/pictures/main-title-pic.jpeg">
        <div id="loginDiv" style="background-color: rgba(0, 0, 0, 0.4);">
            <form action="/" id="loginForm" style="height: 100%;">
                <div class="form-group" style="margin-top: 25%;">
                    <label class="indexLabel" for="username">Username</label>
                    <input type="text" class="form-control form-control-lg" id="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <label class="indexLabel" for="password">Password</label>
                    <input type="password" class="form-control form-control-lg" id="password" placeholder="password"  required>
                </div>
                <div class ="form-group">
                    <input type="submit" name="loginBt" id="loginBt" value="Sign In" class="indexButton" />
                </div>
                <p id="log" style="color:red;"></p>
                <a href="/register" style="color: #bce8f1;"> Sign Up </a>
            </form>
        </div>
    </div>

    <div id="footerDiv"></div>

    </body>

    <script type="text/javascript">
        $("document").ready(function() {

            $("#loginForm").on("submit", function (event) {

                event.preventDefault();
                var username = $("#username").val();
                var password = $("#password").val();

                username = $.trim(username);

                $.ajax ({
                    type: "post",
                    url: "/",
                    data: {"username":username},
                    success: function(response) {
                        var srpClient = new SRP6JavascriptClientSessionSHA256();
                        srpClient.step1(username, password);
                        var credentials = srpClient.step2(response.salt, response.B);
                        var M1 = credentials.M1;
                        var A = credentials.A;
                        $.ajax({
                            type:"POST",
                            url: "/auth",
                            data: {"username":username, "M1":M1, "A":A},
                            success:function(res2) {
                                if(res2.target) {
                                    window.location.href = res2.target;
                                }
                            },
                            error: function(error2) {
                                $("#log").html("<strong>Invalid Login Credentials </strong>");
                            }
                        });
                    },
                    error: function (error) {
                        $("#log").html("<strong>Invalid Login Credentials </strong>");

                    }
                });
            });
        });
    </script>


{{/partial}}

{{> base.hbs}}