<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="fitbuddy" src="/pictures/icon.png" style="max-height: 100%; max-width: 100%">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li id="user_li"><a href="/monthly_progress/" id="userProgress"> {{username}}</a></li>
                <li id="profile_li"><a href="/profile/">Profile</a></li>
                <li id="friends_li"><a href="/friends/">Friends</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form action ="/logout/" method = "post">
                    <button type="submit" class="btn btn-default navbar-btn">Log Out</button>
                </form>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="text/javascript">
    $(document).ready(function () {
        var currMonth = getFormattedDate(new Date());
        $('#userProgress').attr('href', '/monthly_progress/' + currMonth + '/');
    })
</script>
