{{#partial "title"}} YOUR PROFILE{{/partial}}


{{#partial "content"}}
    <div id="topMenu">
        <h1> Welcome {{username}}! </h1>
        <form action ="/logout" method = "post">
            <button id="logoutBtn">logout</button>
        </form>
    </div>

    <div id="optionDiv">
        <input type="button"  id="addBtn" name="add" value="ADD WORKOUT" class="indexButton">
    </div>

    <div id="calendar"></div>

    {{> addModal.hbs}}
    {{> viewModal.hbs}}

{{/partial}}
{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function (response) {

//////////////////////////////////// ALL FULL CALENDAR FUNCTIONALITY////////////////////////////////////////////////
        $("#calendar").fullCalendar({

            events: [
                {{{eventArray}}}
            ],

            dayClick: function(date) {
                date = date.format();  //yyyy-MM-dd
                date = formatDate(date);
                openViewModal(date);
            }
        });
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////// ALL ADD MODAL FUNCTIONS ///////////////////////////////////////////////////
        $("#date").datepicker();
        $("#date").datepicker('setDate', new Date());

        $("#addModalBody2").hide();

        $('#addBtn').on('click',function () {
            openAddModal("add");
        });

        $("#nextBtn").on('click',function () {

            var sets = $("#sets").val();
            var exercise = $("#exercise").val();

            if(exercise == "") {
                $("#logModal").html("Exercise is required")
                return;
            }

            if(sets == "") {
                $("#logModal").html("Sets is required")
                return;
            }

           $("#addModalBody1").hide();
           $("#addModalBody2").show();

           var sets = $("#sets").val();
           createAddModalBody2(sets);
        });

        $("#setBtn").on('click',function () {
            var sets = $("#sets").val();
            var reps = $("#reps1").val();
            var weight = $("#weight1").val();
            fillAllSets(sets,reps,weight);
        });

        $("#backBtn").on('click', function () {
            clearAddModalBody2();
        });


        $('#addModal').on('hidden.bs.modal', function(event) {
            clearAddModalBody1();
            clearAddModalBody2();
        });

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////



        $('#viewModal').on('hidden.bs.modal', function(event) {
            $("#workoutTable tbody").remove();
            $("#viewModalLog").html("");
        });




        $("#confirmBtn").on("click", function(){

            var data = {};
            data.exercise = $("#editExercise").val();
            data.sets = $("#editSets").val();
            data.reps = $("#editReps").val();
            data.weight = $("#editWeight").val();
            data.editId = $("#editId").val();
            data.date = $("#date").val();
            data.mode = $('#mode').val();

            console.log("Submitting = \n" + JSON.stringify(data));

            $.ajax({
                type: "post",
                url: "/add",
                data: data,
                success: function(response) {
                    $("#logModal").html("<strong>SUBMITTING</strong>");
                    $("#addModal").modal('hide');

                    if(response.mode) {
                        openViewModal(response.date);
                    }
                    else{
                        addWorkoutEvent(response.date, response.numberOfWorkouts);
                    }
                },
                error: function() {
                    $("#logModal").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });
        });

    });




</script>