{{#partial "title"}} YOUR PROFILE{{/partial}}


{{#partial "content"}}
    <div id="topMenu">
        <h1> Welcome {{username}}! </h1>
        <form action ="/logout" method = "post">
            <button id="logoutBtn">logout</button>
        </form>
    </div>

    <div id="optionDiv">
        <input type="button"  id="addBtn" name="add" value="ADD WORKOUT" class="indexButton">
    </div>

    <div id="calendar"></div>

    {{> addModal.hbs}}
    {{> viewModal.hbs}}

{{/partial}}
{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function (response) {


        $("#date").datepicker();
        $("#date").datepicker('setDate', new Date());

        $("#calendar").fullCalendar({

            events: [
                {{{eventArray}}}
            ],

            dayClick: function(date) {
                date = date.format();  //yyyy-MM-dd
                date = formatDate(date);
                openViewModal(date);
            }
        });

        $('#addBtn').on('click',function () {
           openAddModal("add");
        });


        $('#viewModal').on('hidden.bs.modal', function(event) {
            $("#workoutTable tbody").remove();
            $("#viewModalLog").html("");
        });

        $('#addModal').on('hidden.bs.modal', function(event) {
            clearAddModal();
        });


        $("#confirmBtn").on("click", function(){

            var data = {};
            data.exercise = $("#editExercise").val();
            data.sets = $("#editSets").val();
            data.reps = $("#editReps").val();
            data.weight = $("#editWeight").val();
            data.editId = $("#editId").val();
            data.date = $("#date").val();
            data.mode = $('#mode').val();

            console.log("Submitting = \n" + JSON.stringify(data));

            $.ajax({
                type: "post",
                url: "/add",
                data: data,
                success: function(response) {
                    $("#logModal").html("<strong>SUBMITTING</strong>");
                    $("#addModal").modal('hide');

                    if(response.mode) {
                        console.log(response.date);
                        openViewModal(response.date);
                    }
                    else{

                        if(response.numberOfWorkouts == "0 workouts")
                            $("#calendar").fullCalendar('removeEvents', response.date);
                        else if(response.numberOfWorkouts == "1 workouts") {


                            var event = {id : response.date, title : response.numberOfWorkouts,
                                        start : response.date, allDay : true};
                            console.log(event);
                            $("#calendar").fullCalendar('renderEvent', event, true);
                        }



                        else {
                            var event = $("#calendar").fullCalendar('clientEvents', response.date);
                            console.log(event[0].title);
                            event[0].title = response.numberOfWorkouts;
                            $("#calendar").fullCalendar('updateEvent', event[0]);
                        }

                    }
                },
                error: function() {
                    $("#logModal").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });
        });

    });




</script>