{{#partial "title"}} YOUR PROFILE{{/partial}}


{{#partial "content"}}
    <div id="topMenu">
        <h1> Welcome {{username}}! </h1>
        <form action ="/logout" method = "post">
            <button id="logoutBtn">logout</button>
        </form>
    </div>

    <div id="optionDiv">
        <input type="button" data-toggle="modal" data-target="#addModal" id="addBtn"
           name="add" value="ADD WORKOUT" class="indexButton">
    </div>

    <div id="calendar"></div>

    {{> addModal.hbs}}
    {{> viewModal.hbs}}

{{/partial}}
{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function (response) {


        $("#date").datepicker();
        $("#date").datepicker('setDate', new Date());

        $("#calendar").fullCalendar({

            dayClick: function(date) {

                $.ajax({
                    type: "post",
                    url: "/view",
                    data: {"date": date.format()},
                    success: function(response) {
                        var workout = JSON.parse(response.jsonData);
                        var dateToShow = response.dateToShow;
                        console.log(workout);
                        $("#theDateToShow").html(dateToShow);
                        createWorkoutTable(workout);
                        $("#viewModal").modal('show');
                        $(".deleteBtn").on("click", function () {
                            console.log("DELETE BUTTON CLICKED");
                            var tr = $(this).closest("tr")
                            deleteBtnClicked(tr);
                        });

                    }

                });
            }
        });


        $('#addModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            console.log("BUTTON MODE  " + button.attr("name"));
            openModal(button);
        });

        $('#viewModal').on('hidden.bs.modal', function(event) {
            $("#workoutTable tbody").remove();
            $("#viewModalLog").html("");
        });


        $("#confirmBtn").on("click", function(){

            var data = {};
            data.exercise = $("#editExercise").val();
            data.sets = $("#editSets").val();
            data.reps = $("#editReps").val();
            data.weight = $("#editWeight").val();
            data.editId = $("#editId").val();
            data.date = $("#date").val();
            data.mode = $('#mode').val();

            console.log("Submitting = \n" + JSON.stringify(data));

            $.ajax({
                type: "post",
                url: "/add",
                data: data,
                success: function(response) {
                    $("#logModal").html("<strong>SUBMITTING</strong>");
                    console.log("response location = " + response.target);
                    if(response.target) {
                        window.location.href = response.target;
                    }
                },
                error: function() {
                    $("#logModal").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });
        });

    });




</script>