{{#partial "title"}} YOUR PROFILE{{/partial}}


{{#partial "content"}}
    <body>
    <div id="topMenu">
        <h1> Welcome {{username}}! </h1>

    </div>

    <div id="optionDiv">

        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="addBtn">Add Workout</button>
            <button type="button" class="btn btn-primary" id="findBtn">Find Workout</button>
        </div>
        <div id="logoutBtn">
            <form action ="/logout" method = "post">
                <input type="submit" value="Logout" id="logoutBtn2" class="indexButton" />
             </form>
        </div>
    </div>

    <div id="calendar"></div>

    {{> addModal.hbs}}
    {{> viewModal.hbs}}
    {{> editModal.hbs}}
    </body>
{{/partial}}
{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function (response) {

//////////////////////////////////// ALL FULL CALENDAR FUNCTIONALITY////////////////////////////////////////////////
        $("#calendar").fullCalendar({

            events: [
                {{{eventArray}}}
            ],

            dayClick: function(date) {
                date = date.format();  //yyyy-MM-dd
                date = formatDate(date);
                openViewModal(date);
            }
        });
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////// ALL ADD MODAL FUNCTIONS ///////////////////////////////////////////////////
        $("#date").datepicker();
        $("#date").datepicker('setDate', new Date());

        $("#addModalBody2").hide();

        $('#addBtn').on('click',function () {
            $("#addModal").modal('show');
        });

        $('#addBtnFromView').on('click',function () {
            $("#viewModal").modal('hide');
            var editDate = $("#theDateToShow").text();
            $("#date").datepicker('setDate', editDate);
            $("#addModal").modal('show');
        });

        $("#nextBtn").on('click',function () {

            var sets = $("#sets").val();
            var exercise = $("#exercise").val();

            if(exercise == "") {
                $("#logModal").html("Exercise is required")
                return;
            }

            if(sets == "") {
                $("#logModal").html("Sets is required")
                return;
            }

           $("#addModalBody1").hide();
           $("#addModalBody2").show();

           var sets = $("#sets").val();
           createAddModalBody2(sets);
        });

        $("#setBtn").on('click',function () {
            var sets = $("#sets").val();
            var reps = $("#reps1").val();
            var weight = $("#weight1").val();
            fillAllSets(sets,reps,weight);
        });

        $("#backBtn").on('click', function () {
            clearAddModalBody2();
        });

        $("#confirmBtn").on("click", function(){
            if(checkAddModalBody2IsFilled() == -1)
                return;

            var data = getWorkout();
            console.log("Submitting = \n" + JSON.stringify(data));
            $.ajax({
                type: "post",
                url: "/add",
                data: data,
                success: function(response) {
                    $("#addModal").modal('hide');
                    addWorkoutEvent(response.date, response.numberOfWorkouts);

                },
                error: function() {
                    $("#logModal2").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });

        });

        $('#addModal').on('hidden.bs.modal', function() {
            clearAddModalBody1();
            clearAddModalBody2();
        });

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////


////////////////////////////////////////// VIEW MODAL FUNCTIONALITY ////////////////////////////////////////////////
        $('#viewModal').on('hidden.bs.modal', function(event) {
            $("#workoutTable tbody").remove();
            $("#viewModalLog").html("");
        });



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



////////////////////////////////////////////// Edit MODAL FUNCTIONALITY ////////////////////////////////////////////////
        $('#editDate').datepicker();

        $('#editConfirmBtn').on('click', function () {
            if(checkEditModalBodyIsFilled() == -1)
                return;

            var data = getEditedWorkout();
            console.log("Submitting = \n" + JSON.stringify(data));
            $.ajax({
                type: "post",
                url: "/edit",
                data: data,
                success: function(response) {
                    if(response.old_date) {
                        addWorkoutEvent(response.date, response.num_workouts_new);
                        deleteWorkoutEvent(response.old_date, response.num_workouts_old);
                    }
                    $("#editModal").modal('hide');
                    openViewModal(response.date);

                },
                error: function() {
                    $("#logModal3").html("<strong>OOPS! UNABLE TO SUBMIT WORKOUT! PLEASE TRY AGAIN</strong>");
                }
            });
        });

        $('#editModal').on('hidden.bs.modal', function() {

            clearEditModalBody();
            $("#logModal3").html("");
        });


    });
</script>