{{#partial "title"}} fitbuddy {{/partial}}


{{#partial "content"}}
    <body>

    {{> navbar.hbs}}

    <div id="optionDiv">

        <div class="btn-group">
            <button type="button" class="btn btn-primary" id="addBtn">Add Workout</button>
            <!--<button type="button" class="btn btn-primary" id="supersetAddBtn">Add Superset</button> -->
            <button type="button" class="btn btn-primary" id="findBtn">Find Workout</button>
        </div>

    </div>

    <div id="calendar"></div>

    {{> addModal.hbs}}
    {{> viewModal.hbs}}
    {{> editModal.hbs}}
    {{> graphModal.hbs}}
    {{> addSupersetModal.hbs}}
    </body>
{{/partial}}
{{> base.hbs}}

<script type="text/javascript">
    $(document).ready(function (response) {
        $("#profile_li").addClass("active");
//////////////////////////////////// ALL FULL CALENDAR FUNCTIONALITY////////////////////////////////////////////////
        $("#calendar").fullCalendar({

            events:
                {{{eventArray}}},

            dayClick: function(date) {
                date = date.format();  //yyyy-MM-dd
                //console.log(date);
                date = formatDate(date);
                openViewModal(date);
            }
        });
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    });
</script>