{{#partial "title"}}Sign Up Here!{{/partial}}

{{#partial "content"}}
    <div id="signupDiv">
        <form action="/register" method="post" id="signupForm">
            <div class="row">
                <p class="loginP">Email:</p>
                <input type="text" placeholder="Email" name="email" id="email" required>
            </div>
            <div class="row">
                <p class="loginP">Username:</p>
                <input type="text" placeholder="username" name="username" id="username" required>
            </div>
            <div class="row">
                <p class="loginP">Password</p>
                <input type="password" placeholder="password" name="password1" id="password1" required>
            </div>
            <div class="row">
                <p class="loginP">Confirm Password</p>
                <input type="password" placeholder="password" name="password2" id="password2" required>
            </div>
            <div class="row">
                <p class="loginP"></p>
                <input type="submit" name="signupBt" id="signupBt" value="Sign Up" class="indexButton" />
            </div>
        </form>
        <p id="log" style="color:red;"></p>
        <a id="loginLnk" href="/">Already have an account? Log in Here</a>
    </div>

    <div id="loginDiv">
        <p> Nooice! Account Created!</p>
        <a id="loginLnk" href="/">Log in Here</a>
    </div>



    <script type="text/javascript" >
        $(document).ready(function() {
            $("#loginDiv").hide();
            $("#signupForm").on('submit', function(event) {
                event.preventDefault();
                var username = $("#username").val();
                var email = $("#email").val();
                var p1 = $("#password1").val();
                var p2 = $("#password2").val();

                if(p1 === p2) {
                    var srpClient = new SRP6JavascriptClientSessionSHA256();
                    var salt = srpClient.generateRandomSalt();
                    var verifier = srpClient.generateVerifier(salt, email, p1);

                    $.ajax({
                        type: "POST",
                        url: "/register",
                        data: {"username": username, "salt":salt
                            , "verifier":verifier, "email":email},
                        success: function(response) {

                            $("#username").val("");
                            $("#email").val("");
                            $("#password1, #password2").val("");
                            $("#signupDiv").hide();
                            $("#loginDiv").show();
                        },
                        error: function(error) {

                            $("#log").html("<strong> That EMAIL exists ALREADY! </strong>\n\
                            <br>");
                        }
                    });
                } else {
                    $("#log").html("<strong>Passwords Do not Match</strong> <br/> ");
                }
            });

        });
    </script>
{{/partial}}

{{> base.hbs}}




