

<div class="modal fade" id="viewModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Settings</h4>
            </div>
            <div class="modal-body">
                <h4 id="theDateToShow"></h4>
                <table id="workoutTable">
                    <thead>
                        <tr>
                            <th>EXERCISE</th>
                            <th>SETS</th>
                            <th>REPS</th>
                            <th>WEIGHT</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p id="viewModalLog" style="color:red;"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
